<div class="">
  <section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
              <th class="px-4 py-3"></th>
              <th class="px-4 py-3">Amazon Tracking ID</th>
              <th class="px-4 py-3">Flipkart Tracking ID</th>
              <th class="px-4 py-3">Bitly Key</th>
              <th class="px-4 py-3">Words to be deleted</th>
              <th class="px-4 py-3">Are Previews Enabled?</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                    <img class="object-cover w-full h-full rounded-full" src="<%= current_user.photo_url %>" alt="" loading="lazy" />
                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                  </div>
                  <div>
                    <p class="font-semibold text-black"><%= "Name: #{current_user.first_name} #{current_user.last_name}" %> </p>
                    <p class="font-semibold text-black"><%= "Username: #{current_user.username}" %> </p>
                    <p class="text-xs text-gray-600">ID: <%= @user[:id] %></p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-sm border">
                <div id="amazon_id" onclick="toggle_form('amazon')">
                  <%= @user[:amazon_id] %>
                </div>
                <div id="amazon" style='display: none'>
                  <%= form_with url: home_path('amzn_id'), method: :put do |form| %>
                    <%= form.text_field :val, value: @user[:amazon_id] %>
                  <% end %>
                </div>
              </td>
              <td class="px-4 py-3 text-sm border">
                <div id="flipkart_id" onclick="toggle_form('flipkart')">
                  <%= @user[:flipkart_id] %>
                </div>
                <div id="flipkart" style='display: none'>
                  <%= form_with url: home_path('fkrt_id'), method: :put do |form| %>
                    <%= form.text_field :val, value: @user[:flipkart_id] %>
                  <% end %>
                </div>
              </td>
              <td class="px-4 py-3 text-sm border">
                <div id="bitly_id" onclick="toggle_form('bitly')">
                  <%= @user[:bitly_key] %>
                </div>
                <div id="bitly" style='display: none'>
                  <%= form_with url: home_path('bitly_id'), method: :put do |form| %>
                    <%= form.text_field :val, value: @user[:bitly_key]  %>
                  <% end %>
                </div>
              </td>
              <td class="px-4 py-3 text-sm border"><%= @user[:deleted_keywords]&.join(', ') %></td>
              <td class="px-4 py-3 text-xs border">
                <div class="flex justify-between items-center">
                  <div class='px-2 py-1 font-semibold leading-tight rounded-sm <%= previews_color(@user[:previews]) %>'>
                    <%= @user[:previews]&.titleize %>
                  </div>
                  <div>
                    <%= button_to 'Toggle Previews', home_path('toggle'), method: :put %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<script>
  toggle_form = (form_name) => {
    var form = document.querySelector(`#${form_name}`);
    form.style.display = "block"

    var text_id = document.querySelector(`#${form_name}_id`);
    text_id.style.display = "none"
  }
</script>
